@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'DM Mono', monospace;
  background-color: #FFFBF5;
  color: #000000;
}

li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
}


.hover {
  background: 
    linear-gradient(black 0 0) no-repeat
     calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.hover:hover {
  --p: 100%;
  --t: .3s;
  color: #fff;
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {  
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-in-out;
}